= simple_form_for([:admin, @post]) do |f|
  .row.padded-bottom
    .col-md-8
      .input-group
        %span.input-group-addon Title
        = f.input :title, :label => false
    .col-md-4
      .input-group
        = f.association :category, :collection => Category.published, :include_blank => true, :label => false
  .row.padded-bottom
    .col-md-12
      = f.input :body, :label => false
      
  .row.padded-bottom
    .col-md-12
      = link_to([:admin, :posts]) do
        %button.btn.btn-default{ :type => "button" }
          Cancel
      %button.btn.btn-success{ :type => "submit" }
        Save Post