.row
  .col-md-1
  .col-md-10
    %h1.text-center Settings index
  .col-md-1

.row
  .col-md-1
  .col-md-10
    = link_to("New setting", [:new, :admin, :setting])
  .col-md-1

.row
  .col-md-1
  .col-md-10
    %table.table.table-striped
      %tr
        %th= t("admin.columns.edit")
        %th= t("admin.columns.delete")
        %th= t("admin.columns.title")
        %th= t("admin.columns.published_at")
  
      - @settings.each do |setting|
        %tr
          %td= link_to("Edit", [:edit, :admin, setting])
          %td= link_to("Remove", [:admin, setting], :confirm => "Are you sure you want to delete this post?", :method => :delete)
          %td= setting.name
          %td= setting.updated_at
  .col-md-1

.row
  .col-md-1
  .col-md-10 
    = will_paginate @settings
  .col-md-1
